<app-page-header
    [title]="'sentpage.title' | translate"
    [subtitle]="'sentpage.subtitle' | translate"
    icon="pi pi-history">
</app-page-header>

<app-page-content>

    <app-data-table
      [columns]="columns"
      [data]="pagos"
      [rows]="pageSize"
      [lazy]="true"
      [remoteFilter]="true"
      [totalRecords]="totalElements"
      [searchPlaceholder]="'common.search' | translate"
      [emptyTitle]="'sentpage.emptyTitle' | translate"
      [emptySubtitle]="'sentpage.emptySubtitle' | translate"
      [globalFilterFields]="[
          'codigoProveedor',
          'rfcBeneficiario',
          'nombreBeneficiario',
          'monto',
          'moneda',
          'referencia',
          'nombreArchivo',
          'nombreArchivoEnvio',
          'tipoPago',
          'estatus'
      ]"
    (globalFilterChange)="onGlobalFilter($event)"
    (lazyLoadChange)="onLazyLoad($event)">
>
  </app-data-table>

</app-page-content>